<h1><%= @recipe.name %></h1>

<h2><%= "#{@recipe.name} recipe: "%></h2>
<h5>by <%= link_to @recipe.user.name, user_path(@recipe.user) %></h5>

<p><%= @recipe.content %></p>

<p><%= link_to 'Back to recipe index', recipes_path %></p>
<p><%= link_to 'Add a Recipe', new_recipe_path %>
